<h2 id="related-pages">Related Pages</h2>

<p>See also:</p>
<ul>
{% if page.title != "Presentations by Topic" %}
  <li><a href="/conferences/presentations_by_topic.html">Presentations by Topic</a></li>
{% endif %}
{% if page.title != "Presentations by Date" %}
  <li><a href="/conferences/presentations.html">Presentations by Date</a></li>
{% endif %}
  <li><a href="https://www.youtube.com/playlist?list=PLoe3M-5Wdtgzzw7J-owNzk2vFOwTO8VtF">YouTube playlist of talks</a></li>
  <li><a href="https://github.com/claremacrae/talks">Resources and references for my talks</a></li>
</ul>
