---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Disable all animations: it makes the site feel faster
$intro-transition  : none;
$global-transition : none;

// Customise some colours in _contrast.scss
$primary-color: #5b2c6f !default;
$link-color: $primary-color !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials