---
layout: default
---


<div id="main" role="main">

  {% assign sorted = site.data.members_yml | sort_natural: 'Name' %}

<ul>
{% for member in sorted %}
  <li>
    <a href="https://github.com/{{ member.github }}">
      {{ member.name }}
    </a>
  </li>
{% endfor %}
</ul>

  <table>

    <thead>
    <tr>
      <th scope="col">GitHub</th>
      <th scope="col">Name</th>
    </tr>
    </thead>

    {% for member in sorted %}
    <tr>
      <td>
        {% if member.github %}<a href="https://github.com/{{ member.github }}">{{ member.name }}</a>{% endif %}
      </td>
      <td>{{ member.name }}</td>
    </tr>
    {% endfor %}
  </table>

</div>
