---
layout: single
---

<h2 id="completed">Completed</h2>

{% include /presentations/see-also.html %}

{% assign categoryGroups = site.data.presentations |  where_exp:'event','event.upcoming != true' | group_by: "category" %}
{% assign categoryGroupsSorted = categoryGroups | sort: "name" %}

<table>

  {% include /presentations/completed-presentation-head.html %}
  <tbody>

  {% for category in categoryGroupsSorted %}
    {% if category.name == 'Cancelled' or category.name == 'Workshop' %}
      {% continue %}
    {% endif %}
    <tr>
      <td colspan="6"><strong>{{ category.name }}</strong></td>
    </tr>

    {% assign talksOldestFirst = category.items | reverse %}
    {% for event in talksOldestFirst %}

    {% include /presentations/completed-presentation-talk-row.html %}
    {% endfor %}

    {% endfor %}
  </tbody>
</table>
