---
layout: single
---

{% include /presentations/see-also.html %}

<h2 id="completed">Completed Talks</h2>

{% assign relevantTalks = site.data.presentations
  | where_exp:'event','event.upcoming != true'
  | where_exp:'event','event.category != "Cancelled"'
  | where_exp:'event','event.category != "Workshop"'
%}
{% assign categoryGroups = relevantTalks | group_by: "category" %}
{% assign categoryGroupsSorted = categoryGroups | sort: "name" %}

<table>
  {% include /presentations/completed-presentation-head.html %}
  <tbody>

  {% for category in categoryGroupsSorted %}
    <tr>
      <td colspan="6"><h3 id="{{ category.name | slugify | downcase }}">{{ category.name }}</h3></td>
    </tr>

    {% assign talksOldestFirst = category.items | reverse %}
    {% for event in talksOldestFirst %}
      {% include /presentations/completed-presentation-talk-row.html %}
    {% endfor %}

    {% endfor %}
  </tbody>
</table>
