---
layout: single
---

<h2 id="completed">Completed</h2>

<p>See also <a href="https://github.com/claremacrae/talks">“Resources and references for my talks”</a> and <a href="https://www.youtube.com/playlist?list=PLoe3M-5Wdtgzzw7J-owNzk2vFOwTO8VtF">YouTube playlist of talks</a>.</p>

{% assign categoryGroups = site.data.presentations | group_by: "category" %}
{% assign categoryGroupsSorted = categoryGroups | sort: "name" %}

<table>

  {% include /presentations/completed-presentation-head.html %}
  <tbody>

  {% for category in categoryGroupsSorted %}
    {% if category.name == 'Cancelled' or category.name == 'Workshop' %}
      {% continue %}
    {% endif %}
    <tr>
      <td colspan="6"><strong>{{ category.name }}</strong></td>
    </tr>

    {% assign talksOldestFirst = category.items | reverse %}
    {% for event in talksOldestFirst %}

    {% include /presentations/completed-presentation-talk-row.html %}
    {% endfor %}

    {% endfor %}
  </tbody>
</table>
