---
layout: single
---


<div id="main" role="main">

  {% assign sorted = site.data.presentations | sort_natural: 'date' | reverse %}

  <table>

    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
      <th scope="col">Title and Abstract</th>
      <th scope="col">Slides</th>
      <th scope="col">Video</th>
      <th scope="col">Code / Links</th>
    </tr>
    </thead>

    {% for event in sorted %}
    <tr>
      <td><span class="text-tabular-dates">{{ event.date }}</span></td>
      <td>{{ event.event_name }}</td>
      <td>{{ event.talk_title }}</td>
      <td>{% if event.slides_ppt_url %} <a href="{{ event.slides_ppt_url }}">PPT</a> {% endif %} </td>
      <td>{% if event.video_url %} <a href="{{ event.video_url }}">Video</a> {% endif %} </td>
      <td>{% if event.links_url %} <a href="{{ event.links_url }}">Links</a> {% endif %} </td>
    </tr>
    {% endfor %}
  </table>

</div>
