---
layout: single
---


<h2 id="completed">Completed</h2>

<p>See also <a href="https://github.com/claremacrae/talks">“Resources and references for my talks”</a> and <a href="https://www.youtube.com/playlist?list=PLoe3M-5Wdtgzzw7J-owNzk2vFOwTO8VtF">YouTube playlist of talks</a>.</p>

<table>

  {% include /presentations/completed-presentation-head.html %}
  <tbody>
    {% assign last_year = "undefined" %}
    {% for event in site.data.presentations %}
    {% assign year = event.date | split:"-" | first %}
    {% if year != last_year %}
    <tr>
      <td colspan="6"><strong>{{ year }}</strong></td>
    </tr>
    {% endif %}
    {% assign last_year = year %}
    {% include /presentations/completed-presentation-talk-row.html %}
    {% endfor %}
  </tbody>
</table>
